<section id="Footer">
  <footer>
    <div class="acknowledgement">
      <span class="header">Acknowledgement</span>
      This page wouldn't have been possible without the awesome API of Chuck Norris jokes.
      <br>Go and check it out:
      <a href="http://www.icndb.com/">http://www.icndb.com</a>
    </div>
    <div class="about">
      <span class="header">About</span>
      This page was created by Bodor Gergely.
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/gergely-bodor-60b16110b/" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="https://github.com/bgolyoo/chuck-norris-jokes-ui" target="_blank">
          <i class="fa fa-github"></i>
        </a>
      </div>
    </div>
  </footer>
</section>
