#Footer {
  footer {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: space-around;
    text-align: left;
    font-size: 1rem;
    padding: 55px 50px;
    .acknowledgement {
      padding-right: 40px;
    }
    .acknowledgement,
    .about {
      color: #92999f;
      font-size: 14px;
      font-weight: 400;
      .header {
        display: block;
        color: #ffffff;
        font-size: 14px;
        font-weight: 800;
        margin-bottom: 20px;
      }
    }
    .about .footer-icons {
      margin-top: 25px;
      & a {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        border-radius: 2px;
        font-size: 20px;
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px;
        color: #b8b8b8;
        background-color: #33383b;
        transition: all 1s ease;
        &:hover {
          color: #ffffff;
          background-color: #444b4e;
          transition: all 1s ease;
        }
      }
    }
  }
  @media (max-width: 880px) {
    footer {
      flex-direction: column;
      .acknowledgement {
        padding: 0;
      }
      .about {
        margin-top: 25px;
      }
    }
  }
}
